PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/mrd_db?retryWrites=true&w=majority
JWT_SECRET=supersecret_mrd_command_center_key_2026
NODE_ENV=development

# Dynamic Admin Security Configuration
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=your_secure_password_here

# Operations Mail Forwarding Configuration
CONTACT_RECEIVER_EMAIL=makdirakshaldal@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_auth_email@gmail.com
SMTP_PASS=your_smtp_app_password

